<div class="backG">
  <div class="container py-4 text-center">
    <div class='text-center p-0 pt-3 mb-0 text-uppercase'>
      <h2>Компанія "ПРО БУР"</h2>
    </div>

    <div class="py-2 mb-5 serviceDesc">
      <p style="
      font-weight: 400;
      font-size: 22px;
    ">Наша компанія виконує буріння свердловин в Києві та
        Київській області, а також надає інші послуги. Ми працюємо
        понад 10 років, за цей час накопичили багатий досвід та організували власний парк важкої та малогабаритної
        техніки. Для нас головне – гарний результат нашої роботи та задоволені клієнти.</p>
    </div>
    <div>
      <h1>Переваги</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <i class="bi bi-cash d-inline-block icon"></i>
        <div class="serviceDesc">
          <h3>Приємні ціни</h3>
          <p>Вартість послуг залежить від різних факторів – типу свердловини, грунту і т. п. Однак наші послуги будуть
            доступними для вас в будь-якому випадку.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <i class="bi bi-speedometer d-inline-block icon"></i>
        <div class="serviceDesc">
          <h3>Оперативність</h3>
          <p>Наші фахівці швидко виїжджають до замовника і виконують роботи в стислі терміни</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <i class="bi bi-shield-x d-inline-block icon"></i>
        <div class="serviceDesc">
          <h3>Роботи будь-якої складності</h3>
          <p>Наша компанія має в своєму розпорядженні значний автопарк спецтехніки. Фахівці мають великий досвід.
            Саме тому ми здійснюємо різні види буріння в будь-яких умовах круглий рік</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <i class="bi bi-key d-inline-block icon"></i>
        <div class="serviceDesc">
          <h3>Роботи «під ключ»</h3>
          <p>Ми здійснюємо комплексні роботи – для замовника даний формат співпраці буде найзручнішим, оскільки
            ми беремо на себе виконання всіх завдань</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <i class="bi bi-people d-inline-block icon"></i>
        <div class="serviceDesc">
          <h3>Понад 10 років досвіду</h3>
          <p>Працюючи більше 10 років, ми забезпечуємо наших клієнтів водою, за цей час було зроблено
            тисячі свердловин, що говорить про наш досвід і довіру клієнтів.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <i class="bi bi-wallet d-inline-block icon"></i>
        <div class="serviceDesc">
          <h3>Без передоплати</h3>
          <p>Нам не потрібна предоплата, також ви можете бути впевнені, що ціна за роботу не зміниться</p>
        </div>
      </div>
    </div>
  </div>
</div>
