<div class="backG">
  <div class="container mb-4 pt-5 text-center">
    <h1 class="mb-5">Відгуки наших клієнтів</h1>
    <div class="row">
      <div class="col-md-6 col-12 mb-md-5 mb-4 px-3 mt-md-5">
        <div class="photoAndText">
          <div class="photo">
            <img src="/assets/img/01.jpg" alt="Фото коментатора">
          </div>
          <div class="feedbackText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur consequuntur cumque
              dignissimos earum est maxime minima natus quos voluptatem.</p>
            <span>-John Doe</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12 mb-md-5 mb-4 px-3 mt-md-5">
        <div class="photoAndText">
          <div class="photo">
            <img src="/assets/img/01.jpg" alt="Фото коментатора">
          </div>
          <div class="feedbackText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur consequuntur cumque
              dignissimos earum est maxime minima natus quos voluptatem.</p>
            <span>- John Doe</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-md-5 mb-4 px-3">
        <div class="photoAndText">
          <div class="photo">
            <img src="/assets/img/01.jpg" alt="Фото коментатора">
          </div>
          <div class="feedbackText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur consequuntur cumque
              dignissimos earum est maxime minima natus quos voluptatem.</p>
            <span>- John Doe</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-md-5 mb-4 px-3">
        <div class="photoAndText">
          <div class="photo">
            <img src="/assets/img/01.jpg" alt="Фото коментатора">
          </div>
          <div class="feedbackText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur consequuntur cumque
              dignissimos earum est maxime minima natus quos voluptatem.</p>
            <span>- John Doe</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-md-5 mb-4 px-3">
        <div class="photoAndText">
          <div class="photo">
            <img src="/assets/img/01.jpg" alt="Фото коментатора">
          </div>
          <div class="feedbackText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur consequuntur cumque
              dignissimos earum est maxime minima natus quos voluptatem.</p>
            <span>- John Doe</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-md-5 mb-4 px-3">
        <div class="photoAndText">
          <div class="photo">
            <img src="/assets/img/01.jpg" alt="Фото коментатора">
          </div>
          <div class="feedbackText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur consequuntur cumque
              dignissimos earum est maxime minima natus quos voluptatem.</p>
            <span>- John Doe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

