<div class="bgPhoto">
  <div class="over">
    <div class="container overlay">
      <div class="row text-center">
        <div class="col-md-offset-2 bgText fs-2 ">
          <h1>Буріння свердловин під ключ<span></span></h1>
          <p><br>Наша компанія займається бурінням свердловин та надає послуги з облаштування водопостачання в
            найвіддаленіших
            населених пунктах Київської області.</p>
          <a href="/service" class="btn btn-custom btn-lg page-scroll">Детальніше</a>
          <p class="pt-4 pt-md-5">Або звертайтесь за телефонами:</p>
          <div class="contact">
            <p><a href="tel: 063 999 58 24">
              <img class='d-inline-block'
                   width='30px'
                   height='30px'
                   src='../../../assets/img/lifecell_logo.png'
                   alt='logo'/>063 999 58 24</a></p>
            <p><a href="tel: 098 506 24 06">
              <img class='d-inline-block'
                   width='30px'
                   height='30px'
                   src='../../../assets/img/kyivstar_icon.png'
                   alt='logo'/>098 506 24 06</a></p>
            <p><a href="tel: 099 406 78 78">
              <img class='d-inline-block'
                   width='30px'
                   height='30px'
                   src='../../../assets/img/vodafone_icon.png'
                   alt='logo'/>099 406 78 78</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
