<div class="backG">
  <div class="container py-4 text-center">
    <div class='text-center p-0 pt-3 mb-0 text-uppercase'>
      <h2>Наші послуги</h2>
    </div>
    <div class=" mb-5 serviceDesc">
      <div class='list'>
        <dd><i class="bi bi-check"></i>
          Пробуримо свердловину згідно норм, правил та технологій.
        </dd>
        <dd><i class="bi bi-check"></i>
          Встановлення насосного обладнання
        </dd>
        <dd><i class="bi bi-check"></i>
          Змонтуємо приямок та встановимо якісне насосне обладнання.
        </dd>
        <dd><i class="bi bi-check"></i>
          За потреби підберемо і встановимо систему водоочистки.
        </dd>
        <dd><i class="bi bi-check"></i>
          Надамо гарантійний та післягарантійний сервіс.
        </dd>
        <dd><i class="bi bi-check"></i>
          Послуги сантехніки
        </dd>
        <dd><i class="bi bi-check"></i>
          Буримо тільки сучасною технікою і з якісними матеріалами.
        </dd>
      </div>

      <div class='list'>
        <dt>Ми гарантуємо:</dt>
        <dd><i class="bi bi-check"></i>
          Якісні, сертифіковані матеріали (труби НПВХ 125, 140, 160, 175, 200)
        </dd>
        <dd><i class="bi bi-check"></i>
          Пробуримо свердловину згідно норм, правил та технологій.
        </dd>
        <dd><i class="bi bi-check"></i>
          Гарантія 5 років
        </dd>
        <dd><i class="bi bi-check"></i>
          Сучасна техніка
        </dd>
        <dd><i class="bi bi-check"></i>
          Буріння по каменю
        </dd>
        <dd><i class="bi bi-check"></i>
          Багаторічний досвід
        </dd>
        <dd><i class="bi bi-check"></i>
          Кваліфікований, ввічливий персонал
        </dd>
      </div>

    </div>
  </div>
</div>
