<div class="page">
  <footer class='bg-dark' style="color: white">
    <section class="footer">
      <div class='container'>
        <div class="row">
          <div class="col-md-6 col-12">
            <h4>Інформація</h4>
            <ul class="list-unstyled">
              <li><a routerLink='/home'>Головна</a></li>
              <li><a routerLink='/service'>Послуги</a></li>
              <li><a routerLink='/gallery'>Галерея</a></li>
              <li><a routerLink='/about'>Про нас</a></li>
            </ul>

          </div>
          <div class="col-md-6 col-12 mt-md-0 mt-3">
            <h4>Контакти</h4>
            <ul class="list-unstyled">
              <li><a href="tel: 063 999 58 24"><i class="bi bi-telephone iconss"></i>063 999 58 24</a></li>
              <li><a href="tel: 098 506 24 06"><i class="bi bi-telephone iconss"></i>098 506 24 06</a></li>
              <li><a href="tel: 099 406 78 78"><i class="bi bi-telephone iconss"></i>099 406 78 78</a></li>
              <li><a href="mailto: kolusja190586@gmail.com"><i class="bi bi-envelope mail"></i>kolusja190586@gmail.com</a></li>
            </ul>
          </div>
<!--          <div class="col-md-4 col-12">-->
<!--            <h4>Ми в мережі</h4>-->
<!--            <div class="footerIcons">-->
<!--              <a href="https://www.facebook.com/groups/573451010756112"><i-->
<!--                class="bi bi-facebook"></i></a>-->
<!--              <a href="https://www.instagram.com/vasilkiv.taxi"><i-->
<!--                class="bi bi-instagram"></i></a>-->
<!--              <a href="https://play.google.com/store/apps/details?id=ua.taxisimka"><i-->
<!--                class="bi bi-google-play"></i></a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </section>
  </footer>
</div>
