<div class="backG">
  <div class="container py-4 h-100">
    <div class='text-center p-0 pt-3 mb-0 text-uppercase'>
      <h2>Фото нашої роботи</h2>
    </div>
    <div class="centers">
      <div class='imgContainer'>
        <div class="test">
          <img src="../../../assets/img/6.jpg" alt="Фото роботи" id="preview">
        </div>
        <div class="imgPrev text-center">
          <div class="imgSlide active">
            <img src="../../../assets/img/6.jpg" alt="Фото 1" appDemo>
          </div>
          <div class="imgSlide">
            <img src="../../../assets/img/2.2.jpg" alt="Фото 2" appDemo>
          </div>
          <div class="imgSlide">
            <img src="../../../assets/img/3.jpg" alt="Фото 3" appDemo>
          </div>
          <div class="imgSlide">
            <img src="../../../assets/img/1.3.jpg" alt="Фото 4" appDemo>
          </div>
          <div class="imgSlide">
            <img src="../../../assets/img/4.jpg" alt="Фото 5" appDemo>
          </div>
          <div class="imgSlide">
            <img src="../../../assets/img/5.jpg" alt="Фото 6" appDemo>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
