.navText {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
    padding: 20px!important;
}


.navText:hover  {
    color: white;
    background-size: 100% 2px;
}


.navText:active {
    color: rgb(255, 243, 0);
}


